*,
*::before
*::after {
box-sizing: border-box;
}

:root {
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-primary: white;
    --clr-secondary: hsl(215, 51%, 60%);
    --clr-accent: hsl(178, 100%, 50%);
    --fs-300: 1.1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --br-400: 0.5rem;
    --br-300: 0.5rem;
}

body {
    font-family: 'Outfit', serif;
    background-color: var(--clr-main-bg);
    display: flex;
    justify-content: center;
    align-content: center;
}



.card {
    background-color: var(--clr-card-bg);
    margin: 0 auto;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 3rem 0px rgba(0, 0, 0, 0.4);
}

.card-content {
    padding: 1.5rem;
}

.nft-preview-container {
    position: relative;
    /* width: 21rem; */
}

.nft-preview-container:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    opacity: 0.5;
    border-radius: var(--br-300);
    cursor: pointer;
  }

.nft-preview-container:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--fs-600);
    height: var(--fs-600);
    background-image: url('images/icon-view.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.nft-preview {
    width: 20rem;
    height: 20rem;
    border-radius: var(--br-300);
    
}

.nft-name {
    color: var(--clr-primary);
    font-size: var(--fs-500);
    font-weight: 600;
    cursor: pointer;
}

.nft-name:hover {
    color: var(--clr-accent);
}

.nft-description {
    color: var(--clr-secondary);
    font-size: var(--fs-300);
}

.nft-data {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--clr-secondary) solid 1px;
}

.nft-price {
    display: flex;
    align-items: center;
    color: var(--clr-accent);
}

.nft-price svg, .time-left svg {
    margin-right: 0.5rem;
  }

.time-left {
    color: var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-creator {
    display: flex;
    align-items: center;
    color: var(--clr-secondary);
    padding-top: 0.5rem;
}

.avatar {
    border: 1px solid var(--clr-primary);
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.author {
    cursor: pointer;
    color: var(--clr-primary);
}

.author:hover {
    color: var(--clr-accent);
}

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */
